<div id="copyright">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li>Hartinger Kilian Johannes </li>
        <li>Filmproduktion</li>
        <li>Niederbrunn 8 ∙ 4912 Neuhofen / Innkreis </li>
    </ul>
    <ul>
        <li><a href="{{@site.url}}/offenlegung/">Offenlegung</a></li>
        <li><a href="{{@site.url}}/datenschutzerklarung/">datenschutzerklarung</a></li>
    </ul>
    <ul>                            
        <li>Design by <a href="https://html5up.net">HTML5 UP</a></li>
        <li>Published with <a href="https://ghost.org">Ghost</a></li>
    </ul>
</div>