#copy-to-clipboard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#add-link-template {
    margin-bottom: 2rem;
}

@include breakpoint('>medium') {
    form#generate-embed-html span:nth-of-type(5) {
        margin-top: 2rem;
    }
    #add-link-template {
        margin-top: 0;
    }

}

