// Main
// --------------------------------------------

// Fix main cover image bg position
:root {
    scroll-behavior: smooth;
}
#wrapper > .bg {
    background-position: top center;
    background-size: auto, auto, cover;
    height: 100vh;
    position: fixed;
}

#intro {
    max-width: 800px;
    margin: 0 auto;
}

#header .logo.image {
    padding: 0;
    border: none;
}

#header .logo.image img {
    height: 75px;
    width: auto;
    transform: none !important;

    @include breakpoint("<=small") {
        height: auto;
        width: 75px;
    }
}

.content {
    max-width: _size(content);
    @include breakpoint("<=xlarge") {
        max-width: 720px;
    }

    margin: 0 auto;
    padding-bottom: 2rem;
}

// Pagination
// --------------------------------------------

// Couple of alignment fixes cause we're not
// using page numbers, just prev/next
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-number {
    padding: 0 20px;
    border-color: transparent !important;
    color: #222 !important;
}

.spacer {
    width: 160px;
}

// Tag Archive
// --------------------------------------------

.tag-header,
.tag-header p {
    text-align: center;
}

// Author Archive
// --------------------------------------------

.author-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-profile-image {
    flex-shrink: 0;
    margin: 0 0 20px 0;
    width: 100px;
    height: 100px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 6px;
    display: block;
    background: #222;
    border-radius: 100%;

    object-fit: cover;
}

.author-header h1 {
    margin-bottom: 1rem;
}

.author-meta {
    display: flex;
    align-items: center;
}

.author-meta .icon,
.author-meta .bull {
    padding: 5px 10px;
}

.author-location:before {
    margin-right: 10px;
}

// Author Box
// --------------------------------------------

.post-footer {
    margin: 4rem auto 0;
    max-width: 700px;
}

.authors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.author-box {
    flex: 1 1 300px;
    display: inline-flex;
    align-items: flex-start;
    padding: 5px 20px;
    margin: 0 20px 20px;
    border: none;
}

.author-box:hover {
    color: #212931 !important;
}

.author-box:hover .author-box-name {
    color: #18bfef;
    transition: color 0.2s ease;
}

.author-box .author-profile-image {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.author-box-content {
    display: flex;
    flex-direction: column;
}

.author-box-label {
    font-family: _font(family-heading);
    font-size: 0.7rem;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #999;
}

.author-box-name {
    margin: 3px 0;
    font-size: 1.3rem;
    line-height: 1.2em;
    transition: color 0.5s ease;
}

.author-box p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5em;
}

.kg-image {
    max-width: 100%;
}

// Content
// --------------------------------------------
.post div.content,
form {
    @include breakpoint(">=large") {
        /*column-count: 2;
        break-before: column;
        column-gap: 2rem;*/

        > .kg-card:not(.kg-float-right):not(.kg-float-left),
        > .kg-consent-option,
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > hr,
        > blockquote,
        > ul,
        > ol,
        > table {
            margin-top: 2rem;
            column-span: all;
        }

        > .kg-card:first-child:not(.kg-float-right):not(.kg-float-left),
        > .kg-card form {
            margin-top: 0;
        }
        > .kg-card:not(.kg-width-half) + .kg-card,
        > .kg-card:first-child {
            margin-top: 0;
        }
        > .kg-width-half.kg-float-right,
        > .kg-width-half.kg-float-left {
            column-span: none;
            margin-left: 0;
            width: 100%;
        }
        > p + .kg-width-half.kg-float-right,
        > p + .kg-width-half.kg-float-left {
            margin-top: 1rem;
        }

        > li,
        > span {
            break-inside: avoid-column;
            break-before: column;
        }
        > span pre {
            break-inside: avoid-column;
        }

        > p {
            margin: 0;
        }
    }
}
// Markdown images and videos
.content p > img,
.content p > video {
    max-width: 100%;
}

.kg-card {
    margin: 0 0 2rem 0;

    @include breakpoint("<=small") {
        margin: 0 0 1rem 0;
    }
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.kg-image {
    width: 100%;
    height: 100%;
    display: block;
}

.kg-card figcaption {
    font-size: 1rem;
    line-height: 1.4em;
    text-align: center;
    margin-top: 0.33em;
}

.kg-width-wide {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.kg-width-full {
    position: relative;
    margin-left: calc(
        calc(calc(#{_size(content)} - 100vw) / 2) +
            calc(calc(100vw - min(calc(100vw - 4rem), #{_size(wrapper) * 1.3})) / 2)
    );
    width: calc(100vw - 4rem);

    max-width: _size(wrapper);

    @include breakpoint(">xxlarge") {
        max-width: #{_size(wrapper) * 1.3};
    }
    @include breakpoint("<=xxlarge") {
        margin-left: calc(
            calc(calc(#{_size(content)} - 100vw) / 2) + calc(calc(100vw - min(calc(100vw + 8rem), 1840px)) / 2)
        );
        width: _size(wrapper);
    }

    @include breakpoint("<=xlarge") {
        margin-left: calc(
            calc(calc(720px - 100vw) / 2) + calc(calc(100vw - min(calc(100vw - 4rem), #{_size(wrapper)})) / 2)
        );
    }
    @include breakpoint("<=large") {
        width: calc(var(--viewport-width, 100vw) - 4rem);
        margin-left: calc(
            calc(calc(720px - var(--viewport-width, 100vw)) / 2) +
                calc(
                    calc(
                            var(--viewport-width, 100vw) -
                                min(calc(var(--viewport-width, 100vw) - 4rem), #{_size(wrapper)})
                        ) / 2
                )
        );
    }
    @include breakpoint("<=medium") {
        margin-left: calc(
            min(calc(calc(720px - 100vw) / 2), -6rem) + calc(calc(100vw - min(calc(100vw - 4rem), 72rem)) / 2)
        );
        margin-left: calc(
            min(calc(calc(720px - var(--viewport-width, 100vw)) / 2), -6rem) +
                calc(
                    calc(
                            var(--viewport-width, 100vw) -
                                min(calc(var(--viewport-width, 100vw) - 4rem), #{_size(wrapper)})
                        ) / 2
                )
        );
    }
    @include breakpoint("<=small") {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
    }
}

.kg-card.kg-gallery-card.kg-width-wide {
    @include breakpoint("<medium") {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.kg-card.kg-gallery-card.kg-width-wide:not(:last-of-type) {
    margin-bottom: 0.5vw;

    @include breakpoint("<medium") {
        margin-bottom: 0;
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include breakpoint(">=medium") {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 0.5vw;
    }

    @include breakpoint("<medium") {
        flex-direction: column;
        margin: 0 !important;
    }
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.5vw 0 0 0;
}

@include breakpoint("<medium") {
    .kg-gallery-image:not(:first-of-type) {
        margin: 1vw 0 0 0;
    }
    .kg-gallery-image:first-of-type {
        margin: 0;
    }
    .kg-gallery-image:last-of-type {
        margin: 1vw 0;
    }

    .kg-gallery-row:last-child > .kg-gallery-image:last-of-type {
        margin-bottom: 0;
    }
    .kg-gallery-card:not(.kg-card-hascaption) + .kg-gallery-card {
        margin-top: 1vw;
    }
}

.kg-gallery-card.kg-card-hascaption + .kg-image-card,
.kg-image-card.kg-card-hascaption + .kg-gallery-card {
    margin-top: 2rem;

    @include breakpoint("<=small") {
        margin-top: 1rem;
    }
}

.kg-gallery-card figcaption, .kg-video-card figcaption {
    margin-top: 1em;
    @include breakpoint("<=small") {
        margin-top: 0.5rem;
    }
}

.kg-gallery-container--narrow {
    flex-direction: row;
    height: 30rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    @include vendor("transition", "flex 3s ease-in-out");

    .kg-gallery-image img,
    .kg-gallery-image picture {
        height: 100%;
        object-fit: cover;
    }
    .kg-gallery-image {
        flex-shrink: 10;
        @include vendor("transition", "all .5s ease-in-out");
    }
    .kg-gallery-image:hover {
        flex-shrink: 4.5;
        //grid-column: span 2;
       
    }

    .kg-gallery-image:not(:first-of-type) {
        margin: 0;
    }

    @include breakpoint("<=medium") {
        height: 50vw;
    }
}

.kg-gallery-container--flowing {
    width: 100%;
    display: block;
    columns: 2;
    gap: 0;
    @include vendor('column-fill', 'balance');

    .kg-gallery-image {
        margin: 0;
        width: 100%;
        height: fit-content;
        line-height: 0;
    }
    @include breakpoint(">=medium") {
        columns: 3;
    }

    @include breakpoint(">=xlarge") {
        columns: 4;
    }
}

.partner .kg-gallery-container--flowing {
    gap: 1rem;

    > * {
        margin-bottom: 2rem;

        @include breakpoint("<medium") {
            margin-bottom: 1rem;
        }
    
    }
    .kg-image {
        max-height: 7.5rem;
        object-fit: contain;

        @include breakpoint("<medium") {
            max-height: 5rem;
        }
    }
}

.kg-code-card {
    width: 100%;
}

.kg-code-card pre {
    margin: 0;
}

.kg-bookmark-card {
    width: 100%;
    background: var(--white);
}

.kg-card + .kg-bookmark-card {
    margin-top: 0;
}

.kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--darkgrey);
    text-decoration: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #eee;

    @include breakpoint("<=small") {
        flex-direction: column;
        padding-right: 0px;
    }
}

.kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: inset 0 0 0 2px #18bfef;
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    @include breakpoint("<=small") {
        order: 2;
    }
}

.kg-bookmark-title {
    color: color(var(--midgrey) l(-30%));
    font-size: 1.6rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5em;
}

.kg-bookmark-container:hover .kg-bookmark-title {
    color: var(--blue);
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    color: color(var(--midgrey) l(-10%));
    line-height: 1.5em;

    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;

    @include breakpoint("<=small") {
        -webkit-line-clamp: 4;
    }
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 40%;
    max-height: 100%;

    @include breakpoint("<=small") {
        order: 1;
        min-height: 160px;
        width: 100%;
    }
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;

    @include breakpoint("<=small") {
        border-radius: 3px 3px 0 0;
    }
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: color(var(--midgrey) l(-10%));

    @include breakpoint("<=small") {
        font-size: 0.9rem;
    }
}

.kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;

    @include breakpoint("<=small") {
        width: 18px;
        height: 18px;
    }
}

.kg-bookmark-author:after {
    /*content: "•";*/
    margin: 0 6px;
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
}

.kg-image-card a {
    border-bottom: none;
}

.kg-image-card picture,
.kg-image-card picture > .kg-image {
    display: block;
}

.kg-gallery-image img:hover,
figure img:hover {
    cursor: pointer;
}

.kg-card.kg-width-half {
    width: 50%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.kg-card.kg-float-right {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
}
.kg-card.kg-float-left {
    float: left;
    margin-left: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
@include breakpoint("<medium") {
    .kg-card.kg-float-left,
    .kg-card.kg-float-right {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        min-width: 100%;
    }
}

// Consent
// --------------------------------------------

.kg-consent-option {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.kg-consent {
    width: 100%;
    height: fit-content;
    line-height: 1;
    padding: 1rem 2rem;
    overflow-y: auto;

    strong {
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .kg-consent-interface {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        button {
            margin-top: 0.25rem;
        }

        > * {
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
    }
}

.kg-consent-container + iframe,
.kg-consent-container + blockquote,
.kg-consent-container + .kg-video {
    display: none;
}

// Special
// --------------------------------------------
.kg-column-all {
    column-span: all;
}
.kg-embed-generator-card .kg-column-all {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-span: all;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.kg-form-buttom-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#copy-to-clipboard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@include breakpoint(">medium") {
    form#generate-embed-html span:nth-of-type(5) {
        margin-top: 2rem;
    }
    #add-link-template {
        margin-top: 0;
    }
}

@include breakpoint("<=medium") {
    #add-link-template-fallback {
        margin-top: 0;
    }
}

// Button card
// --------------------------------------------
.kg-button-card,
.kg-button-card * {
    box-sizing: border-box;
}

.kg-button-card {
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.kg-button-card.kg-align-left {
    justify-content: flex-start;
}

.kg-button-card a.kg-btn {
    display: flex;
    position: static;
    align-items: center;
    padding: 0 1.2em;
    height: 2.4em;
    line-height: 1em;
    font-size: 0.95em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.2s ease-in-out;
}

.kg-button-card a.kg-btn:hover {
    opacity: 0.85;
}

.kg-button-card a.kg-btn-accent {
    background-color: var(--ghost-accent-color);
    color: #fff;
}

// Subheader
// --------------------------------------------
.kg-header-card {
    text-align: center;
}

.kg-header-card-header {
    margin-bottom: 1rem !important;
}
.kg-header-card-subheader {
    font-size: 2rem;

    @include breakpoint("<=small") {
        font-size: 1rem;
    }
}



// Error Pages
// --------------------------------------------

.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 12vw !important;
    text-align: center;
}

.error-description {
    text-align: center;
}

.error-code {
    margin: 0;
}
